.container {
  width: 90%;
  margin: 0 auto;
}
.backgroundHeader {
  background-image: url(../../assets/img/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100em;
  /* height: 31.25em;
  background: #707070 0% 0% no-repeat padding-box;
  background-image: -webkit-linear-gradient(86deg, #fff 50%, #707070 50%);
  opacity: 1; */
}

.headerFlex {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

header p {
  color: #ffffff;
  opacity: 1;
}

.headerTitle {
  margin-top: 2.3rem;
  font: normal normal normal 22px Helvetica Neue;
}

.headerFocus {
  font: normal normal bold 40px Helvetica Neue;
}

.header_p {
  font: normal normal normal 16px Helvetica Neue;
  padding: 2rem;
}

.menuButton {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15px;
  width: 60%;
}
