.container {
  width: 90%;
  margin: 0 auto;
}
.background-header{
  background-image: url(../../assets/img/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header p {
  color: #ffffff;
  opacity: 1;
}

.header-title {
  margin-top: 2.3rem;
  font: normal normal normal 22px Helvetica Neue;
}

.header-focus {
  font: normal normal bold 40px Helvetica Neue;
}

.header-p {
  font: normal normal normal 16px Helvetica Neue;
  padding: 2rem;
}

.menu-button {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15px;
  width: 60%;
}
